.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.questions_holder{
  position: relative;
  overflow: hidden;
  height: 80vh;
}
.question_item{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: all linear 300ms;
}
.past{
  background-color: blue;
  transform: translateY(-100%);
}
.future{
  background-color: red;
  transform: translateY(100%);
}
.current{
  opacity: 1;
  background-color: grey;
}
